<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/board.css"/>
    </head>
    <body>
        <input id="toggle" type="checkbox"/>

        <header>
            <div class="header_left">
                <label for="toggle" onclick=""><img src="/assets/iconmonstr-menu-1-32.png" alt="Menu"></label>
            </div>
            <div class="header_main">
                <h1>LIVE</h1>
            </div>
            <div class="header_right">
                <a href="#" id="/auth/login"><img src="/assets/iconmonstr-log-out-2-32.png" alt="Login"></a>
            </div>
            <div class="header_search">
                <input type="text"/>
                <img src="/assets/iconmonstr-magnifier-4-48.png" alt="search"/>
            </div>
        </header>

        <div class="wrap_gnb">
            <div class="gnb">
                <ul>
                    <li><a href="#" id="/variety">예능</a></li>
                    <li><a href="#" id="/movie">영화</a></li>
                    <li><a href="#" id="/documentary">다큐</a></li>
                    <li><a href="#" id="/ameriandorama">미드</a></li>
                    <li><a href="#" id="/etc">기타</a></li>
                </ul>
            </div>
        </div>

        <content>
            <div class="wrap_content">
             
            </div>

            <div class="pagination_content">
               
            </div>
        </content>

        <footer>

        </footer>

        <script type="text/javascript" src="/javascript/board.js"> </script>
    </body>
</html>